/*MENU DE NAVEGACION*/
/*remover estas lineas de codigo para acomodar el menu a su estado original*/
.color-orange1 {
  background-color: #f5ddb0; }

.color-orange2 {
  background-color: #edcf7b; }

.color-orange3 {
  background-color: #f4c05f; }

.color-orange4 {
  background-color: #f9ba45; }

.color-orange5 {
  background-color: orange; }

/*INDEX */
.card, .card1, .card2, .card3 {
  background-color: rgba(189, 246, 240, 0.895);
  width: 500px;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  outline: 1px solid orangered;
  text-align: center; }

.card1 {
  background-color: rgba(172, 237, 250, 0.962);
  width: 450px;
  height: 650px; }

.card2 {
  background-color: #eef3f7;
  width: 450px;
  height: 650px; }

.card3 {
  background-color: #fbaa64;
  width: 450px;
  height: 650px; }

/*PREGUNTAS FRECUENTES*/
.preguntas {
  border: 2px solid black;
  outline: 3px solid orangered;
  margin-top: 50px; }
  .preguntas .accordion-button {
    background-color: #90d2ef;
    font-weight: bold; }

.accordion-body {
  font-style: italic; }

.preguntas {
  background-color: rgba(238, 247, 246, 0.895);
  border: 2px solid black;
  margin-top: 50px; }

/* LINKING PARTNERS */
.queEsLinkingParters, .masInfoLP, .tablaDeejemplificacion {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 50px; }

.parrafo1LP, .parrafo2LP, .parrafo3LP, .h3LP, .ultimoParrafoLP {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px; }

.container, .col {
  border: 1px solid #050343;
  outline: 1px solid #f8650a;
  font-weight: bold; }
  .container .col, .col .col {
    background-color: #90d2ef; }

.container2 .col {
  background-color: #f5c05f; }

.container, .ultimoParrafoLP, .basesYCondiciones {
  margin-top: 50px;
  margin-bottom: 50px; }

.basesYCondiciones {
  text-decoration: underline;
  margin-left: 50px; }

.bases {
  background-image: url(../Pictures/HLFILTRADA.png);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto; }
  .bases .basesItem {
    margin-left: 100px;
    margin-bottom: 30px; }

.parrafoBases {
  margin-left: 100px;
  margin-right: 100px; }
