
/* GENERAL */ 

body {
     margin: 0;
     
   }


 .body, .bodyNosotros {

    background: linear-gradient(rgb(127, 243, 243),white,orange);
    
} 


* {
     font-family: 'Dancing Script', cursive;
     font-family: 'Kaushan Script', cursive;
     font-family: 'Roboto', sans-serif;

}


.highwayslogoEncabezado {

    width: 100px;
    height: 100px;
    border-radius: 250%;

}

/* ENCABEZADO */

.encabezado {

    background-color: rgb(0, 43, 91);
    background-size: cover;
    background-position: center center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}


/* HOME */



.tituloh1, .tituloEmpresa {

    color: rgb(2, 2, 70);
    text-align: center;
    border: groove blue;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:  10px 5px 15px orange;
    outline: 1px solid orangered;
    font-size: 3rem;
    background-color: white;

} 

.makeYourWay, .studyEnglish {

    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
    text-decoration: none;
    margin-bottom: 0;
    margin-bottom: 50px;
    margin-top: 50px;

}

.intro {

    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 50px;
    

 }

 .carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center bottom scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.contenedorHome {

    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid  rgb(27, 5, 172);
    outline: 1px solid orangered;

}

.parrafoIndex {

    text-align: center;
    font-size: 1.5rem;
}




.enlace1, .enlace3 {

    text-decoration: none;
}

.contenedorIndex1 {

    display: flex;
}
   


.cuadro1, .cuadro2, .cuadro3 {

    text-align: center;
    padding-bottom: 50px;
  

}

.card1:hover, .card3:hover { 

    transform: scale(1.1);
}

.card1 {

    background-color: orange;
}

.contenedorIndex1 {

    display: flex;
    justify-content: space-evenly;
}

a {

    text-decoration: none;
}




.alumnoEstudiando , .examenOnline, .recomendacion {

    width: 600px;
}


/* MENU DE NAVEGACIÓN */



.menuNav {

  display: flex;
  justify-content: center;
  
} 



.btn {

    padding: 10px;
    margin: 10px;
}


.cuerpo1 {

    padding-top: 30px;


} 





/* H2 / SUBTITULOS */


h2 {

    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(1, 1, 49);

}

/* PARRAFOS */


p {

    color: rgb(3, 3, 95);
    text-align: justify;

}


/* FOOTER*/


.footer {

    background-color: rgb(38, 43, 49);
    width: auto;

} 


.highwayslogoEncabezado2 {

    margin-left: 100px;

}


.logoFooter {

    width: 40px;
    height: 40px;

}

.contactanos {

    text-decoration: underline;

}


.contactanos , .divWP , .divIG , .divMail  {

    color: white;

}

#comienzo, .derechos {

    text-align: center;
    display: block;
    color: white;

}

.derechos {

    margin: 0;
}

/* NOSOTROS */ 


.general {

    display: flex;
    justify-content: space-evenly;

}

 .card  {

    background-color: rgba(189, 246, 240, 0.895);
    width: 500px;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    outline: 1px solid orangered;
    text-align: center;

}

.card1 {

    background-color: rgb(172, 237, 250);
}

.card2 {

    background-color: rgb(244, 249, 250);
}

.card3 {

    background-color: rgba(251, 167, 72, 0.687);
}

a {
    color: black;
}

a:visited {

    color: black;
}

a:active {

    color: orangered;
}

.card-title, .card-text {

    text-align: center;
}


.card-text {

    padding: 15px;
   
}
 
 .elegirnos {

    height: 400px;

}
 

/* LINKING PARTNERS */

.bases {

    background-image: url(../Pictures/HLFILTRADA.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto; 

}
 

.queEsLinkingParters, .masInfoLP , .tablaDeejemplificacion {
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;

}

.parrafo1LP, .parrafo2LP, .parrafo3LP, .h3LP, .ultimoParrafoLP {

    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.container, .col {

    border: 1px solid rgb(5, 3, 67);
    outline: 1px solid rgb(232, 133, 4);
   font-weight: bold;
}

.container, .ultimoParrafoLP, .basesYCondiciones {

    margin-top: 50px;
    margin-bottom: 50px;
}

 .basesYCondiciones  {

    text-decoration: underline;
    margin-left: 50px;
    
    }

    .basesItem {

        margin-left: 100px;
        margin-bottom: 30px;
    }

    .parrafoBases {

        margin-left: 100px;
        margin-right: 100px;
    }

   
/* INSCRIPCIONES */


.tituloPrincipalInscripciones {

     font-size: 3rem; 

}


.mainInscripciones {

    background-image: url(../Pictures/HLFILTRADA.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto; 

}

     
/* PREGUNTAS FRECUENTES */ 


.preguntas {

   background-color: rgba(238, 247, 246, 0.895);
   border: 2px solid black;
   margin-top: 50px;
  
}


/* CURSOS Y CAPACITACIONES */

.contenedorCursos {
   
    display: grid;
    justify-items: center;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    margin-top: 50px;
   
}

.contenedorCursos > p {

    justify-content: center;
    

} 


/* MEDIA QUERIES */


@media screen and (max-width: 480px) {
   
   
    .contenedorCursos {
      
       display: flex;
       flex-direction: column;
    }


    .nosotros {

        width: 100%;
        gap: 0px;
        margin-top: 30px;
       
    }


    .container-fluid {
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }

     .encabezado {
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      
     }

     .general {
      
        display: flex;
        flex-direction: column;
     }
 
     
     .contenedorGaleria {

       
        grid-template-columns: 1fr;
 
       }


     .tablaDeprecios, .tablaDeejemplificacion {

       width: 100%;
     }


     .contenedorHome {


        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }

    .alumnoEstudiando , .examenOnline, .recomendacion {

        width: 100%;

    }

}
