@charset "UTF-8";
.color-celeste {
  background-color: #acedfa; }

.color-blanco {
  background-color: #eef3f7; }

.color-naranja {
  background-color: #fbaa64; }

/* GENERAL */
.body, .bodyNosotros {
  background: linear-gradient(#7ff3f3, white, orange);
  margin: 0; }

* {
  font-family: 'Roboto', sans-serif; }

h2 {
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  color: #03035f; }

p {
  color: #03035f;
  text-align: justify; }

/*ENCABEZADO*/
.encabezado {
  background-image: url(../Pictures/banner.png);
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; }

.highwayslogoEncabezado {
  height: 100px;
  width: 100px;
  border-radius: 250%; }

/* MENU DE NAVEGACIÓN */
.menu {
  margin-top: 80px;
  margin-right: 0;
  margin-bottom: 80px;
  margin-left: 0;
  display: flex;
  justify-content: center; }

.menuNav {
  background-color: #f3f9fa;
  border: solid 2px #1b05ac;
  outline: 1px solid orangered;
  border-radius: 5px;
  list-style: none;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  align-content: center;
  width: 250px;
  color: red; }

.menuNav:hover {
  background-color: #89def6; }

/*INDEX */
.card, .cardIndex {
  height: 850px;
  width: 500px;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  overflow: hidden;
  outline: 1px solid orangered; }

.cardIndex {
  height: 700px;
  width: 500px; }

.tituloEmpresa, h1 {
  color: #03035f;
  text-align: center;
  border: groove blue;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 10px 5px 15px orange;
  outline: 1px solid orangered;
  font-size: 3rem;
  background-color: white; }

.makeYourWay, .studyEnglish {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 4rem;
  text-decoration: none;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0; }

.intro {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 80px;
  margin-bottom: 50px;
  margin-left: 80px; }

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center bottom scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.contenedorHome {
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.parrafoIndex {
  text-align: center;
  font-size: 1.5rem; }

.cuadro1, .cuadro2, .cuadro3 {
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold; }

.contenedorIndex1 {
  display: flex;
  justify-content: center;
  gap: 40px; }

a, .enlace1, .enlace3 {
  text-decoration: none;
  color: black;
  font-weight: bold; }

a:visited {
  color: black; }

/* CURSOS Y CAPACITACIONES */
.contenedorCursos {
  display: grid;
  justify-items: center;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

.contenedorCursos > p {
  justify-content: center; }

.tarjetaCurso {
  opacity: 0.5; }

.tarjetaCurso:hover {
  transform: scale(1.1);
  opacity: 1; }

/* LINKING PARTNERS */
.queEsLinkingParters, .masInfoLP, .tablaDeejemplificacion {
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0; }

.parrafo1LP, .parrafo3LP, .h3LP, .ultimoParrafoLP {
  text-align: center;
  margin: 50px;
  font-weight: bold; }

.parrafo2LP ¨ {
  margin-top: 100px;
  margin-right: 100px;
  margin-bottom: 0;
  margin-left: 100px; }

.container, .col {
  border: 1px solid #050343;
  outline: 1px solid #f8650a;
  font-weight: bold; }
  .container .col, .col .col {
    background-color: #f7cc7c; }

.container, .ultimoParrafoLP, .basesYCondiciones {
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto; }

.basesYCondiciones {
  font-weight: bold;
  text-decoration: underline;
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 50px; }

.basesItem {
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 100px;
  font-weight: bold; }

.parrafoBases {
  margin-top: 0;
  margin-right: 100px;
  margin-bottom: 0;
  margin-left: 100px;
  font-weight: bold; }

/*PREGUNTAS FRECUENTES*/
.preguntas {
  border: 2px solid black;
  outline: 3px solid orangered;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }
  .preguntas .accordion-button {
    background-color: #f7cc7c;
    font-weight: bold; }

.accordion-body {
  font-style: italic; }

.preguntas {
  background-color: rgba(238, 247, 246, 0.895);
  border: 2px solid black;
  margin-top: 50px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

/* NOSOTROS */
.general {
  display: flex;
  justify-content: space-evenly; }

.cardNosotros {
  padding-top: 40px; }

.card-title, .card-text {
  text-align: center; }

.card-text {
  padding: 15px; }

.elegirnos {
  height: 400px; }

/* FOOTER*/
.footer {
  background-color: #002b5b;
  width: auto; }

.highwayslogoEncabezado2 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 100px; }

.logoFooter {
  height: 40px;
  width: 40px; }

.contactanos {
  text-decoration: underline; }

.contactanos, .divWP, .divIG, .divMail {
  color: white; }

#comienzo, .derechos {
  text-align: center;
  display: block;
  color: white; }

.derechos {
  margin: 0; }

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .contenedorIndex1, .contenedorCursos, .general {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer {
    width: 100%; }
  .encabezado {
    gap: 0;
    width: 100%;
    margin: 0; }
  .card, .cardIndex {
    width: 80%;
    overflow: scroll; }
  .contenedorCursos {
    width: 100%; }
  h1, .tituloEmpresa, h1 {
    font-size: 2rem; }
  .basesItem {
    margin-left: 10px; }
  .parrafoBases {
    margin: 10px;
    font-size: 1rem; }
  .container {
    width: 100%;
    font-size: 0.7rem; }
  .queEsLinkingParters {
    font-size: 1rem; } }

@media screen and (max-width: 1201px) {
  .contenedorIndex1 {
    gap: 0; }
  .contenedorCursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; }
  .tarjetaCurso {
    opacity: 1; }
  .tarjetaCurso:hover {
    transform: scale(1); }
  .menu {
    display: grid;
    grid-template-columns: 1;
    align-items: center; } }

@media screen and (max-width: 769px) {
  .encabezado {
    background-size: 769px; }
  .menu {
    display: grid;
    grid-template-columns: 1;
    align-items: center; }
  .card-body {
    width: 100%; }
  .parrafo1LP, .parrafo2LP, .parrafo3LP {
    margin: 10px; } }

@media screen and (max-width: 481px) {
  .intro {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0; } }
