
$colorbg: rgb(144, 210, 239);

@mixin size ($alto, $ancho){

  width: $ancho;
  height: $alto;
  
}

/*MENU DE NAVEGACION*/ 

/*remover estas lineas de codigo para acomodar el menu a su estado original*/

$menu: (

  orange1: #f5ddb0,
  orange2: rgb(237, 207, 123),
  orange3: rgb(244, 192, 95),
  orange4: rgb(249, 186, 69),
  orange5: orange

);

@each $item, $color in $menu {
.color-#{$item} {
  background-color: $color;
}

}

/*INDEX */

.card  {

  background-color: rgba(189, 246, 240, 0.895);
  // width: 500px;
  // height: 700px;
  @include size(700px,500px );
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  outline: 1px solid orangered;
  text-align: center;

}


.card1 {

  @extend .card;
  background-color: rgba(172, 237, 250, 0.962);
  @include size(650px,450px );
}

.card2 {
   @extend .card;
   background-color: rgb(238, 243, 247);
   @include size(650px,450px );
}

.card3 {

  @extend .card;
  background-color: rgb(251, 170, 100);
  @include size(650px,450px );
}



/*PREGUNTAS FRECUENTES*/
  
.preguntas {

  border: 2px solid black;
  outline: 3px solid orangered;
  margin-top: 50px;
  
  .accordion-button {
    
    background-color: $colorbg;
    font-weight: bold;
}
 
  }


  .accordion-body {

    font-style: italic;
  }


  .preguntas {

    background-color: rgba(238, 247, 246, 0.895);
    border: 2px solid black;
    margin-top: 50px;
   
 }
  
  /* LINKING PARTNERS */


  .queEsLinkingParters, .masInfoLP , .tablaDeejemplificacion {
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;

    

}

.parrafo1LP, .parrafo2LP, .parrafo3LP, .h3LP, .ultimoParrafoLP {

    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.container, .col {

    border: 1px solid rgb(5, 3, 67);
    outline: 1px solid rgb(248, 101, 10);
    font-weight: bold;

    .col {

      background-color: $colorbg;
    }
}


.container2 {

  .col {

    background-color: rgb(245, 192, 95);
    
  }
}

.container, .ultimoParrafoLP, .basesYCondiciones {

    margin-top: 50px;
    margin-bottom: 50px;
}


 .basesYCondiciones  {

    text-decoration: underline;
    margin-left: 50px;
    
    }

  .bases {

    background-image: url(../Pictures/HLFILTRADA.png);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto; 
    
    .basesItem {

        margin-left: 100px;
        margin-bottom: 30px;  
   
    }
  
      }
  
      .parrafoBases {

        margin-left: 100px;
        margin-right: 100px;
      }




  